.button {
    background-color: #76de37;
    border: none;
    padding: 8px 0;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.02);
}